{% extends 'base.html' %}
<!--  add embedded Django for what is rendered on each page of the blog -->
{% block content %}

{% if user.is_authenticated %}

    <h1>Delete Blog Post</h1>
    <br>
    <h2>Delete: {{ post.title }}</h2>
    <br><hr>
    <div class="form_group">
        <form method="POST">
            <!-- cross site request forgery token. stops hackers stealing the form info -->
            {% csrf_token%}
            <!-- django form system to render a built in form -->
            <h3>Are you sure you want to delete this POST!!</h3>
            <hr>
            <button class="btn btn-danger">Delete Blog Post</button>
        </form>
    </div>
    <br>
{% else %}
    <h1>You need to register for an account to delete posts</h1>
{% endif %}
<a href="{% url 'home' %}" class="btn btn-primary">Retrun to Homepage</a>
{% endblock %}